/* color palette: https://colorhunt.co/palette/10a19d540375ff7000ffbf00 */
* {
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #10a19d;
	color: white;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 50px;
}

/* PROJECT SELECTION */
.project {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: 16px;
	margin: 0 auto;
	padding: 20px 10px;
}

.project::after {
	content: "";
	width: 150px;
}
/* ANCHOR */
a {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
}
a:hover {
	color: #ffbf00;
}
a:active {
	color: #ffbf00;
}
